section.first {
  padding-top: 10rem;
}

.solutions-grid {
  display: grid;
  --cols: 3;
  grid-template-columns: repeat(var(--cols), calc((100% - ((var(--cols) - 1) * 2rem)) / var(--cols)));
  gap: 3.6rem 2rem;
}

@media all and (max-width: 950px) {
  .solutions-grid {
    --cols: 2;
  }
}

.solutions-grid .media {
  margin-bottom: 1rem;
}

.agents-hero {
  min-height: 100vh;
  max-height: 85rem;
  position: relative;
  margin-bottom: 7rem;
}

/* @media all and (max-width: 950px) {
  .agents-hero {
    min-height: auto;
  }
} */

.agents-hero .agents-hero-video {
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 100%;
  z-index: 1;
}

@media all and (max-width: 950px) {
  .agents-hero .agents-hero-video {
    object-fit: cover;
    left: 0;
    top: 40%;
    height: 60%;
    object-position: 50% 100%;
  }
  .new-type .agents-hero h1 {
    font-size: 3.2rem;
  }
}

.agents-hero > .wrap {
  position: relative;
  z-index: 10;
}

.agents-hero .agents-hero-logos {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  left: 0;
  z-index: 10;
  background: linear-gradient(180deg, rgb(0, 0, 0, 0) 0%, rgb(0, 0, 0, 1) 105%);
}
/* 
@media all and (max-width: 950px) {
  .agents-hero .agents-hero-logos {
    position: relative;
  }
} */

.agents-hero .text-rotator {
  display: none;
}
.agents-hero .text-rotator.show {
  display: inline-block;
}

.agents-hero .text-rotator .fadeIn {
  opacity: 0;
  animation: fadeIn 1.2s var(--easeOut);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
