html{font-size: 10px;margin: 0;scroll-behavior: smooth;}
body {font-size: 1.8rem; line-height: 1.4em; font-family:"SanaSans", sans-serif; margin: 0; width: 100%; min-height: 100%; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; -moz-font-feature-settings: "kern" 1; -ms-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; -webkit-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; transition: background-color .6s ease, color .6s ease; will-change: background-color, color;}
body.noscroll{height: 100vh;overflow-y: hidden;}
@media screen and (max-width: 990px) {html{font-size: 10px;}}
@media screen and (max-width: 370px) {html{font-size: 2.6vw;}}

@font-face {font-family: 'SanaSans'; src: local("â˜º"), url("../fonts/SanaSans-Regular420.woff2") format("woff2"); font-weight: 400}
@font-face {font-family: 'SanaSans'; src: local("â˜º"), url("../fonts/SanaSans-Regular440.woff2") format("woff2"); font-weight: 440}
@font-face {font-family: 'SanaSans'; src: local("â˜º"), url("../fonts/SanaSans-Regular480.woff2") format("woff2"); font-weight: 500}
@font-face {font-family: 'SanaSansDisplay'; src: local("â˜º"), url("../fonts/SanaSans-RegularDisplay.woff2") format("woff2"); font-weight: 400}
@font-face {font-family: 'SanaSansDisplay'; src: local("â˜º"), url("../fonts/SanaSans-MediumDisplay.woff2") format("woff2"); font-weight: 500}

@font-face {
  font-family: 'SanaSerif';
  src: url('../fonts/SanaSerifTestligatur-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'SanaSerif';
  src: url('../fonts/SanaSerif05-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

  @font-face {
    font-family: 'SanaSerif-new';
    src: url('../fonts/SanaSerifTestligatur-Regular.woff2') format('woff2');
    font-weight: 400;
  }
  @font-face {
    font-family: 'SanaSerif-new';
    src: url('../fonts/SanaSerif05-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
  }


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative;}
a{color:inherit; text-decoration: none; cursor: pointer;}
:root {   
  --text:'SanaSans';
  --display:'SanaSansDisplay';
  --mono-font:'mono-font';
  --black-100:#000000;
  --black:#0E0E0E;
  --black-65:rgba(0,0,0,0.65);
  --black-50:rgba(0,0,0,0.5);
  --black-35:rgba(0,0,0,0.35);
  --black-10:rgba(0,0,0,0.1);
  --black-5:rgba(0,0,0,0.05);
  --black-3:rgba(246,246,247,1);
  --white:#ffffff;
  --white-65:rgba(255,255,255,0.65);
  --white-50:rgba(77, 22, 22, 0.5);
  --white-35:rgba(255,255,255,0.35); 
  --white-10:rgba(255,255,255,0.1); 
  --white-5:rgba(255,255,255,0.05); 
  --blue:rgba(70,0,210,1); 
}

/* h1,h2,h3,h4,h5,h6,p,a{font-size: inherit; line-height: inherit; font-weight: inherit;margin: -.025em;} */

.bg-black-100{
  background-color: #000;
}
img, .video {
  max-width: 100%;
}
.bg-black{
  background-color: var(--black);
}
.black{
  color: var(--black);
}
.black-65{
  color: var(--black-65);
}
.black-50{
  color: var(--black-50);
}
.black-35{
  color: var(--black-35);
}
.black-10{
  color: var(--black-10);
}
.black-5{
  color: var(--black-5);
}
.black-3{
  color: var(--black-3);
}
.bg-black-3{
  background-color: var(--black-3);
}
.blue{
  color: var(--blue);
}
.bg-blue{
  background-color: var(--blue);
}
.underline{
  text-decoration: underline;
}
.opacity-100{
  opacity: 1;
}
.opacity-65{
  opacity: .65;
}
.opacity-50{
  opacity: .5;
}
.opacity-35{
  opacity: .35;
}
.opacity-10{
  opacity: .1;
}
.opacity-5{
  opacity: .05;
}
.opacity-3{
  opacity: .03;
}
.opacity-0{
  opacity: 0;
}
.bg-white{
  background-color: var(--white);
}
.white{
  color: var(--white);
}
.title-titan{
  font-size: 18rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: .95em;
    letter-spacing: -0.02em;
    opacity: 1;
    font-family: var(--display);
    margin-bottom: .3em;
}
.title-big{
  font-size: 13rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1em;
    letter-spacing: -0.01em;
    opacity: 1;
    font-family: var(--display);
    margin-bottom: .3em;
}
.title{
  font-size: 11rem;
  line-height: 1em;
  letter-spacing: -.04em;
  font-weight: 440;
  font-family: var(--deafult-font);
}
.medium-title{
  font-size: 7.2rem;
  line-height: 1em;
  letter-spacing: -0.02em;
  font-family: 'SanaSerif', serif;
}

.sub-title{
  font-size: 4.8rem;
  line-height: 1.1em;
  letter-spacing: -.025em;
  font-weight: 440;
  font-family: var(--deafult-font);
}
@media screen and (max-width: 950px) {
  
  .title-big,.title,.medium-title,.sub-title{
    font-size: 4rem;
    line-height: 1.05em;
    letter-spacing: -.025em;
    font-weight: 440;
    font-family: var(--deafult-font);
  }
}
.small-title{
  font-size: 3.2rem;
  line-height: 1.1em;
  letter-spacing: -.02em;
  font-weight: 440;
  font-family: var(--deafult-font);
}
.p-big{
  font-size: 2.4rem;
  font-weight: 440;
  letter-spacing: -0.01em;
  line-height: 1.3em;
}
.p{
  font-size: 1.8rem;
  font-weight: 440;
  letter-spacing: -0.01em;
  line-height: 1.3em;
}
.p-16{
  font-size: 1.6rem;
  font-weight: 440;
  letter-spacing: 0;
  line-height: 1.3em;
}
.p-small{
  font-size: 1.5rem;
  font-weight: 440;
  letter-spacing: 0;
  line-height: 1.3em;
}
.p-14{
  font-size: 1.4rem;
  font-weight: 440;
  letter-spacing: 0;
  line-height: 1.3em;
}
.p-smaller{
  font-size: 1.4rem;
  font-weight: 440;
  letter-spacing: 0;
  line-height: 1.3em;
}
.serif{
  font-family: 'SanaSerif';
  font-variant-ligatures:  discretionary-ligatures;
}
.p.serif{
  line-height: 1.4em;
}
.sr-title{
  font-size: 8rem;
  letter-spacing: -.03em;
  line-height: 1em;
}
@media screen and (max-width: 950px) {
  .sr-title{
  font-size: 6.8rem;
  letter-spacing: -.03em;
  line-height: 1em;
  }
  .sr-quote{
    font-size: 2.4rem;
    font-weight: 440;
    letter-spacing: -0.01em;
    line-height: 1.3em;
  }
}
section{
  padding: 8rem 0 0;
  overflow: hidden;
}

section.sticky,
section:has(.pinned-video) {
  overflow:visible;
}
section.no-padding{
  padding: 0;
}
section.top{
  padding: 10rem 0 0;
}
section.top.small{
  padding: 6rem 0 0;
}
section.top.with-menu{
  padding: 10rem 0 0;
}
@media screen and (max-width: 950px) {
  section, section.top.with-menu{
    padding: 10rem 0 0;
  }
}
#sub-menu-wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8.2rem;
  z-index: 10;
  height: 0;
}
.landing-page #sub-menu-wrap{
  top: 3rem;
  z-index: 1910;
}
#sub-menu-wrap.fixed{
    position: fixed;
    top: 3rem;
}
@media screen and (max-width: 950px) {
  #sub-menu-wrap{
    display: none;
  }
}
#sub-menu{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .4rem;
  position: absolute;
  border-radius: 40rem;
  transition: color ease .5s;
}
#sub-menu::before{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(190,190,190,.1);
  backdrop-filter: saturate(115%) blur(16px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  opacity: 1;
  content: "";
  border-radius: 40rem;
}
#sub-menu a{
  display: inline-flex;
  padding: 1rem 1.4rem;
  font-size: 1.5rem;
  font-weight: 440;
  margin: 0 .1rem;
  line-height: 1em;
  opacity: .65;
}
#sub-menu a:hover, #sub-menu-wrap div a.active{
  opacity: 1;
}
#sub-menu a.active::before{
  content: "";
  background-color: currentColor;
  width: 100%;
  height: 100%;
  border-radius: 40rem;
  opacity: .06;
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
}
.sub-menu-title{
  padding: 0;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: .02em;
  overflow: hidden;
  max-width: 0;
  white-space:nowrap;
  opacity: 0;
  cursor: default;
  transition: max-width cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s, padding cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s, opacity cubic-bezier(.64,.06,.55,.82) .3s;
}
#sub-menu-wrap.fixed .sub-menu-title{
  max-width: 10rem;
  padding: 0 1.4rem;
  opacity: .5;
}

section.sub-menu-section{
  padding-top: 15rem;
}
.center{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.wrap{
  width: 100%;
  max-width: 140rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4rem;
}
@media screen and (max-width: 950px) {
  .wrap{
    padding: 0 1.5rem;
  }
}
.wrap.medium{
  max-width: 120rem;
}
.wrap.large{
  max-width: 134rem;
}
.wrap.blog{
  max-width: 70rem;
}
.wrap.small{
  max-width: 100rem;
}
.wrap.x-small{
  max-width: 54rem;
}
.col-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.col-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
}
.col-4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
}
@media screen and (max-width: 950px) {
  .col-2,.col-3{
    grid-template-columns: 1fr;
  }
  .col-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
/* .margin-xxl{
  margin-bottom: 12rem !important;
}
.margin-xl{
  margin-bottom: 8rem !important;
}
.margin-l{
  margin-bottom: 4rem !important;
}
.margin-m{
  margin-bottom: 3rem !important;
}
.margin-s{
  margin-bottom: 2rem !important;
}
.margin-xs{
  margin-bottom: 1rem !important;
}
.margin-xxs{
  margin-bottom: .5rem !important;
} */
/* .btn{
  border: 0;
  outline: 0;
  font-family: var(--deafult-font);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1em;
  transition: .3s ease transform;
  display: inline-flex;
  font-weight: 440;
  position: relative;
  padding: .9rem 1.4rem .9rem;
  border-radius: 1.6rem;
} */
/* .btn.secondary::after{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid;
  opacity: 1;
  content: "";
  top: 0;
  left: 0;
  border-radius: 1.8rem;
}
.btn.secondary-hide::after{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid;
  opacity: .1;
  content: "";
  top: 0;
  left: 0;
  border-radius: 1.8rem;
} */
.sub-btn{
  border: 0;
  outline: 0;
  font-family: var(--deafult-font);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1em;
  display: inline-flex;
  font-weight: 440;
  position: relative;
  padding: .9rem 1.4rem .9rem;
  border-radius: 6rem;
  color: var(--white);
  opacity: 1 !important;
	background: linear-gradient(-45deg, rgba(70,0,210,1), rgba(110,60,255,1), rgba(70,0,210,1));
	background-size: 400% 400%;
	animation: gradient 6s ease infinite;
}
.sub-btn:hover{
  animation: gradient 1.5s ease infinite;
}
.sub-btn:active{
  background: rgba(70,30,240,1);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: -100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.f-bubble{
  height: 1.5em;
  width: 1.5em;
  border-radius: 30rem;
  background-color: var(--black);
  color: var(--white);
  display: inline-flex;
  font-size: .7em;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-align: center;
  line-height: 1em;
  margin-right: .5em;
  top: .15em;
  position: absolute;
  left: -3em;
}
@media screen and (max-width: 950px) {
  .f-bubble{
    position: relative;
    left: auto;
    top: -.15em;
  }
}
.video-wrap-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 3rem 0;
}
@media screen and (max-width: 950px) {
  .video-wrap-inner {
    padding:1.5rem 0.5rem;
  }
}
video.fullscreen {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center center;
  background-size: cover;
}

video.fullscreen::-webkit-media-controls {
  display: none !important;
}
.hide-if-big{
  display: none;
}
@media screen and (max-width: 760px) {
  .hide-if-big{
      display: block;
  }
  .hide-if-small{
      display: none;
  }
}
.pricing-box{
  padding:4rem 0 0;
  border-radius: 1.5rem;
  border: 1px solid var(--black-5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  box-shadow: 0 4px 3px 2px rgba(26, 21, 89, .02),0 18px 26px 2px rgba(26, 21, 89, .02);
}
@media screen and (max-width: 950px) {
  .pricing-box{
    padding:3rem 0 0;
  }
}
@media screen and (max-width: 760px) {
  .pricing-box{
    margin-left: -1.4rem;
    margin-right: -1.4rem;
  }
}
.pricing-box-bottom{
  padding: 0 4rem 4rem;
}
@media screen and (max-width: 950px) {
  .pricing-box-bottom{
    padding: 0 2rem 2rem;
  }
}
.pricing-box-bottom-list {
  font-size: 1.5rem;
  padding: 0 2.4rem 1rem 3rem;
  min-height: 3.8rem;
  font-weight: 440;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 0;
  background-image: url(../img/base/check.svg);
  background-repeat: no-repeat;
  background-position: left 0.6rem;
}

.pricing-box-btn{
  width: 100%;
  padding: 1rem;
  display: flex;
  height: 6rem;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 1.5rem 1.5rem;
  background-color: transparent;
  transition: .2s ease background-color;
}

.pricing-box:hover .pricing-box-btn{
  background-color: var(--blue);
  color: var(--white);
}

.pricing-box-btn::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-top: 1px solid;
  opacity: .06;
  border-radius: 0 0 1.5rem 1.5rem;
}
a.pricing-box-btn:hover::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-top: 1px solid transparent;
  opacity: .03;
  background-color:currentColor;
}
.tooltip{
display: inline-block;
cursor: pointer;
position: relative;
width: 1em;
height: 1em;
margin-left: .5rem;
top: .1em;

}
.tooltip.right{
position: absolute;
right: 0;
top:0;
height: 100%;
margin-left: 0;
width: 1.5em;
}
.tooltip::after{
  content: "?";
  top: calc(50% - 1em);
  left: 0;
  height: 1.6em;
  width: 1.6em;
  text-align: center;
  display: block;
  line-height: 150%;
  font-weight: 500;
  font-size: 1.5rem;
  border: 1.5px solid;
  border-radius: 50%;
  color: inherit;
  pointer-events: none;
}   

.tooltip .tooltip-content{
display: none;
position: absolute;
width: 26rem;
top: 100%;
left: calc(50% - 12rem);
color:var(--black);
background-color:var(--white);
padding: 1.2rem 1.8rem 1.5rem;
border-radius: .8rem;
z-index: 90;
box-shadow: 0 4px 3px 2px rgba(26, 21, 89, .02),0 18px 26px 2px rgba(26, 21, 89, .02);
font-size: 1.5rem;
border: 1px solid var(--black-5);
line-height: 1.4em;
letter-spacing: 0em;
margin-bottom: 1rem;
font-weight: 440;
}
.tooltip.right .tooltip-content{
left: auto;
right: 0;
}
.tooltip:hover .tooltip-content,.tooltip:focus .tooltip-content{
display: block;

}
@media screen and (max-width: 760px) {
.tooltip{
    display: none;
}
.pricing-box-bottom-list{
  padding-right: 4rem;
}
}
/*********** HS *************/
.input{
  margin-bottom: 1.5rem;
}
.hbspt-form{
  text-align: left;
}
input[type=text], input[type=email], select {
  position: relative;
  outline: 0;
  border: 0;
  font-weight: 440;
  font-family: var(--deafult-font);
  width: 100%;
  margin: 0 0 1.5rem 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor:text;
  display: block;
  font-size: 1.5rem;
  line-height: 1em;
  border-radius: 0;
  background-color: var(--white);
  color: var(--black);
  padding: 1rem 1.4rem;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .6rem;
}
select{
  background-image: url(../img/icons/black/chevron.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  min-height: 4.3rem;
  border-radius: 1.2rem;
  box-shadow: 0 2px 1px 1px rgba(26, 21, 89, .02),0 8px 16px 2px rgba(26, 21, 89, .02);
  cursor: pointer;
}
label {
  font-size: 1.5rem;
  font-weight: 440;
  padding-bottom: .4rem;
  display: block;
}
.hs-error-msgs label{
  font-size: 1.4rem;
  background-color: #fff;
  padding: 0;
  line-height: 1em;
  color: #FF4343;
  border-radius: .4rem; 
  margin-bottom: 2rem;
}
.hbspt-form ul, .hbspt-form li{
  list-style: none;
  padding: 0;
  margin: 0;
}
input[type=checkbox] {
  position: relative;
  cursor: pointer;
  border: 0;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.2rem;
  height: 2.2rem;
  margin: 0;
  padding: 0;
  margin-right: 1rem;
  box-shadow: 0 2px 1px 1px rgba(26, 21, 89, .02),0 8px 16px 2px rgba(26, 21, 89, .02);
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.1em;
  left: 0;
  border: 1px solid var(--black-10);
  border-radius: .4rem;
  background-color: transparent;
}
input[type=checkbox]:checked:before {
  background-color: #5200FF;
}
input[type=checkbox]:checked:after {
  content: "";
  left: 0;
  top: 0.1em;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/icons/white/check.svg);
  background-size: 1.8rem;
  position: absolute;
}
input[type=submit]{
  border: 0;
  outline: 0;
  font-family: var(--deafult-font);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: 1.8rem;
  line-height: 1em;
  transition: .3s ease transform;
  display: inline-flex;
  font-weight: 440;
  position: relative;
  padding: 1.8rem 1.8rem;
  border-radius: 1.2rem;
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: .4rem;
    background: linear-gradient(-45deg, #4700DE, #5235FF, #4700DE, #5200FF);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
}
input[type=submit]:hover{
  opacity: .9;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* input[type=submit]:hover{
  
} */
/*********** HS *************/
.pop-up{
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pop-up.visible{
  display: flex;
}
.backdrop{
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(90,90,90,0.2);
  backdrop-filter: saturate(115%) blur(16px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  opacity: 1;
  animation-name: opacity;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-duration: .3s;
}
@keyframes opacity {
  0% { opacity: 0;}
  100% { opacity: 1;}
  }
.dialouge{
  display: block;
  width: 100%;
  max-width: 70rem;
  padding:0 4rem 4rem;
  border-radius: 1.5rem;
  max-height: calc(100% - 2rem);
  background-color: #fff;
  box-shadow: 0 4px 3px 2px rgba(26, 21, 89, .02),0 18px 26px 2px rgba(26, 21, 89, .02);
  animation-name: popup;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-duration: .3s;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  text-align: center;
  color: #0E0E0E;
}
.dialouge .hbspt-form{
margin-top: 2rem;
}
.dialouge-in{
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 950px) {
  .dialouge{
    padding:0 1.5rem 1.5rem;
  }
}
@keyframes popup {
  0% { opacity: 0; transform: translateY(2rem);}
  100% { opacity: 1; transform: translateY(0);}
  }
.dialouge-top{
  width: calc(100% + 8rem);
  min-height: 5rem;
  border-bottom: 1px solid var(--black-5);
  padding: 1.5rem 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 440;
  position: sticky;
  top: 0rem;
  z-index: 10;
  margin-left: -4rem;
  margin-right: -4rem;
  background-color: var(--white);
}
@media screen and (max-width: 950px) {
  .dialouge-top{
    width: calc(100% + 3rem);
    min-height: 5rem;
    border-bottom: 1px solid var(--black-5);
    padding: 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 440;
    position: sticky;
    top: 0rem;
    z-index: 10;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    background-color: var(--white);
  }
}
.d-close{
  position: absolute;
  right: 1rem;
  border: 0;
  outline: 0;
  font-family: var(--deafult-font);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1em;
  transition: .2s ease opacity;
  display: inline-flex;
  font-weight: 440;
  padding: .9rem 1.4rem .9rem;
  border-radius: 1.6rem;
  border: 1px solid var(--black-10);
  opacity: .65;
}
.d-close:hover{
  opacity: 1;
}
.youtube-video {
  position: relative;
  padding-bottom: 56.2%;
  width: 100%;
  text-align: left;
  margin: 3.4rem auto 3.4rem;
  overflow: hidden;
  border-radius: 1.6rem;
  }
  .youtube-cover{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--black);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .youtube-cover::after{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 6.4rem;
    opacity: 1;
    font-size: 1.8rem;
    background-image: url(../img/base/play.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .youtube-cover.play{
    display: none;
  }
  .youtube-video iframe {
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
  }
.fade-in{
  opacity: 0;
  animation-name: fade-in;
  -webkit-animation-name: fade-in;
  animation-duration: .5s;
  animation-fill-mode: both;
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: both;
}
@keyframes fade-in {
  0% { opacity: 0; transform: translateY(1rem);}
  100% { opacity: 1; transform: translateY(0rem);}
}
.fade-in.slow{
  opacity: 0;
  animation-name: fade-in-slow;
  -webkit-animation-name: fade-in-slow;
  animation-duration: .9s;
  animation-fill-mode: both;
  -webkit-animation-duration: .9s;
  -webkit-animation-fill-mode: both;
}
.fade-in.zoom{
  opacity: 0;
  animation-name: fade-in-zoom;
  -webkit-animation-name: fade-in-zoom;
  animation-duration: 9s;
  animation-fill-mode: both;
  -webkit-animation-duration: 9s;
  -webkit-animation-fill-mode: both;
}


@keyframes fade-in-slow {
  0% { opacity: 0; transform: scale(.9) translateY(1rem) rotate(-3deg);}
  100% { opacity: 1; transform: scale(1) translateY(0);}
}
@keyframes fade-in-zoom {
  0% { opacity: 0; transform: scale(1.2) translateY(1rem) rotate(10deg);}
  100% { opacity: 1; transform: scale(1) translateY(0);}
}
.a-1{
  animation-delay: .1s;
}
.a-2{
  animation-delay: .2s;
}
.a-3{
  animation-delay: .3s;
}
.a-4{
  animation-delay: .4s;
}
.a-5{
  animation-delay: .5s;
}
.a-6{
  animation-delay: .6s;
}
.a-7{
  animation-delay: .7s;
}
.a-8{
  animation-delay: .8s;
}
.a-9{
  animation-delay: .9s;
}
.a-10{
  animation-delay: 1s;
}
.a-11{
  animation-delay: 1.1s;
}
.a-12{
  animation-delay: 1.2s;
}
.a-13{
  animation-delay: 1.3s;
}
.a-14{
  animation-delay: 1.4s;
}
.a-15{
  animation-delay: 1.5s;
}
.fw-500{
  font-weight: 500;
}
/**/
.feild-box{
  box-shadow: 0 4px 3px 2px rgba(26, 21, 89, .02), 0 18px 26px 2px rgba(26, 21, 89, .02);
  padding: 3.4rem 4rem 4rem;
  border-radius: 1.5rem;
  background-color: var(--white);
  border: 1px solid var(--black-5);
  text-align: left;
}
form.hsForm_85255ff3-d07f-497f-970e-30c91239c8e8, form.hsForm_be4f058f-0301-49d0-ad42-fbbd572bd46f, form.hsForm_f40d721e-9635-4e7d-af7d-d66222de1c9d,form.hsForm_efb21c02-9290-4ea5-9267-9faf4ad8b6e8,form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0{
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 1rem;
}
form.hsForm_be4f058f-0301-49d0-ad42-fbbd572bd46f .hs_email, 
form.hsForm_be4f058f-0301-49d0-ad42-fbbd572bd46f .hs_tell_us_more_about_how_you_want_to_use_sana,
form.hsForm_be4f058f-0301-49d0-ad42-fbbd572bd46f .hs_how_did_you_hear_about_us,
form.hsForm_be4f058f-0301-49d0-ad42-fbbd572bd46f .legal-consent-container,
form.hsForm_be4f058f-0301-49d0-ad42-fbbd572bd46f .hs_submit,
form.hsForm_be4f058f-0301-49d0-ad42-fbbd572bd46f .hs-how_to_use_sana,

form.hsForm_85255ff3-d07f-497f-970e-30c91239c8e8 .hs_email, 
form.hsForm_85255ff3-d07f-497f-970e-30c91239c8e8 .hs_tell_us_more_about_how_you_want_to_use_sana,
form.hsForm_85255ff3-d07f-497f-970e-30c91239c8e8 .hs_how_did_you_hear_about_us,
form.hsForm_85255ff3-d07f-497f-970e-30c91239c8e8 .legal-consent-container,
form.hsForm_85255ff3-d07f-497f-970e-30c91239c8e8 .hs_submit,


form.hsForm_f40d721e-9635-4e7d-af7d-d66222de1c9d .hs_email, 
form.hsForm_f40d721e-9635-4e7d-af7d-d66222de1c9d .hs_tell_us_more_about_how_you_want_to_use_sana,
form.hsForm_f40d721e-9635-4e7d-af7d-d66222de1c9d .hs_how_did_you_hear_about_us,
form.hsForm_f40d721e-9635-4e7d-af7d-d66222de1c9d .legal-consent-container,
form.hsForm_f40d721e-9635-4e7d-af7d-d66222de1c9d .hs_submit,

form.hsForm_efb21c02-9290-4ea5-9267-9faf4ad8b6e8 .hs_email, 
form.hsForm_efb21c02-9290-4ea5-9267-9faf4ad8b6e8 .hs_tell_us_more_about_how_you_want_to_use_sana,
form.hsForm_efb21c02-9290-4ea5-9267-9faf4ad8b6e8 .hs_how_did_you_hear_about_us,
form.hsForm_efb21c02-9290-4ea5-9267-9faf4ad8b6e8 .legal-consent-container,
form.hsForm_efb21c02-9290-4ea5-9267-9faf4ad8b6e8 .hs_submit,

form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0 .hs_email, 
form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0 .hs_tell_us_more_about_how_you_want_to_use_sana,
form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0 .hs_how_did_you_hear_about_us,
form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0 .legal-consent-container,
form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0 .hs_submit,
form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0 .hs_tell_us_more_about_how_you_want_to_use_sana_ai
{
grid-column: span 2;
}
@media (max-width: 460px) {
form.hsForm_85255ff3-d07f-497f-970e-30c91239c8e8,.hsForm_f40d721e-9635-4e7d-af7d-d66222de1c9d,.form.hsForm_efb21c02-9290-4ea5-9267-9faf4ad8b6e8,form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0{
  grid-template-columns: 1fr;
  display: block;
  column-gap: 0;
}
form.hsForm_85255ff3-d07f-497f-970e-30c91239c8e8 .hs_email, 
form.hsForm_85255ff3-d07f-497f-970e-30c91239c8e8 .hs_tell_us_more_about_how_you_want_to_use_sana,
form.hsForm_85255ff3-d07f-497f-970e-30c91239c8e8 .hs_how_did_you_hear_about_us,
form.hsForm_85255ff3-d07f-497f-970e-30c91239c8e8 .legal-consent-container,
form.hsForm_85255ff3-d07f-497f-970e-30c91239c8e8 .hs_submit,
form.hsForm_f40d721e-9635-4e7d-af7d-d66222de1c9d .hs_email, 
form.hsForm_f40d721e-9635-4e7d-af7d-d66222de1c9d .hs_tell_us_more_about_how_you_want_to_use_sana,
form.hsForm_f40d721e-9635-4e7d-af7d-d66222de1c9d .hs_how_did_you_hear_about_us,
form.hsForm_f40d721e-9635-4e7d-af7d-d66222de1c9d .legal-consent-container,
form.hsForm_f40d721e-9635-4e7d-af7d-d66222de1c9d .hs_submit,
form.hsForm_efb21c02-9290-4ea5-9267-9faf4ad8b6e8 .hs_email, 
form.hsForm_efb21c02-9290-4ea5-9267-9faf4ad8b6e8 .hs_tell_us_more_about_how_you_want_to_use_sana,
form.hsForm_efb21c02-9290-4ea5-9267-9faf4ad8b6e8 .hs_how_did_you_hear_about_us,
form.hsForm_efb21c02-9290-4ea5-9267-9faf4ad8b6e8 .legal-consent-container,
form.hsForm_efb21c02-9290-4ea5-9267-9faf4ad8b6e8 .hs_submit
form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0 .hs_email, 
form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0 .hs_tell_us_more_about_how_you_want_to_use_sana,
form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0 .hs_how_did_you_hear_about_us,
form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0 .legal-consent-container,
form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0 .hs_submit,
form.hsForm_0ee0e265-922d-4207-b828-6bcd4e164bc0 .hs_tell_us_more_about_how_you_want_to_use_sana_ai

{
  grid-column: span 1;
}
}

.inline-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
/**/